.wallet-drawer {
    margin-left: 2em;
}

.container {
    width: 65%;
    margin-left: 2em;
}

.wallet-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-button {
    margin: 10px auto;
    width: 100px;
    height: 25px;
    color: #ffffff;
    background-color: #00a9c7;
    border: none;
    border-radius: 7px;
    padding: 0px 5px;
    cursor: pointer;
}

.wallet-drawer button {
    margin: 10px auto;
    width: 100%;
    height: 35px;
    color: #00a9c7;
    background-color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.back-button:hover,
.send-btn:hover,
.wallet-drawer button:hover {
    background: #6cb9c7;
}