.drop-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 60px;
    height: 60px;
    justify-content: space-around;
}

.drop-menu-btn {
    cursor: pointer;
    width: 60;
    background: transparent;
    border: none;
}

.drop-menu:focus {
    outline: none;
}

.drop-menu:hover {
    background: #6cb9c7;
}

@media screen and (max-width: 875px) {
    .drop-container {
        position: absolute;
        right: 0;
    }
}