.drop-container {
    height: 100%;
    width: 40px;
}

.dots-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 0.35em;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 15px 0px;
    margin-right: 15px;
    box-sizing: border-box;
}

.dots-menu-dot {
    width: 0.35em;
    height: 0.35em;
    background: white;
    border-radius: 50%;
}

.dots-menu:focus {
    outline: none;
}