.drop-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    padding: 0 4px;
    justify-content: space-around;
    cursor: pointer;
}

.drop-menu-btn {
    cursor: pointer;
    width: 60px;
    background: transparent;
    border: none;
}

#down-arrow {
    transform: scale(1.3, 0.45);
}

.drop-container:focus {
    outline: none;
}

.drop-container:hover {
    background: #0089a1;
}

@media screen and (max-width: 875px) {
    .drop-container {
        position: absolute;
        right: 0;
    }

    #down-arrow {
        display: none;
    }
}