.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #b547ff, #5f1bff);
    height: 60px;
    font-family: Palatino, sans-serif;
}

.toolbar-logo {
    margin-left: 2rem;
    font-size: 1.75em;
    color: white;
    text-decoration: none;
}

.toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

@media (max-width: 768px) {
    .toolbar-navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar-toggle-btn {
        display: none;
    }

    .toolbar-logo {
        margin-left: 0;
    }
}
