.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #b547ff, #5f1bff);
    height: 60px;
    font-family: Palatino, sans-serif;
}

.toolbar-logo {
    margin-left: 2rem;
    font-size: 1.75em;
    color: white;
}

.toolbar-navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.spacer {
    flex: 1;
}