.toolbar {
    position:fixed;
    z-index: 200;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    background: #00a9c7;
    height: 60px;
    width: 100%;
    top: 0;
    margin: 0 auto;
    font-family: Palatino, sans-serif;
}

.toolbar-navigation {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 60px;
    flex: 1 1 auto;
}

.nav-item {
    font-size: 0.85em;
    font-weight: 600;
    padding: 11px 8px;
    border-radius: 3px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #0089a1;
}

.toolbar-logo {
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0.5em;
    border: 3px solid #ffffff;
    text-align: center;
}

.toolbar-toggle-btn {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (min-width: 876px) {
    .toolbar-toggle-btn {
        display: none;
    }

    .side-drawer {
        display: none;
    }

    .toolbar-logo {
        padding: 0 0.5em;
        border: 3px solid #ffffff;
        text-align: center;
        margin-right: 15px;
    }

    .toolbar {
        padding: 0 auto;
    }

    .toolbar-navigation {
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        width: 50%;
    }

    .nav-item {
        text-align: left;
    }

    #networks {
        margin-right: auto;
    }
}

@media screen and (max-width: 875px){
    .nav-item {
        display: none;
    }

    .toolbar {
        width: 100%;
        background: linear-gradient(0deg, #007286 0%, #00a9c7 45%);
    }
}