.main-drawer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
}

.main-drawer li {
    margin: 1px 0;
}

.main-drawer button {
    font-size: 1.25em;
    color: white;
    background: none;
    border: none;
    border-radius: 3px;
    margin: 5px 0px;
    padding: 2px 10px;
    cursor: pointer;
    text-align: left;
}

.main-drawer button:hover {
    background: #6cb9c7;
}
