.menu-container {
    height: 100%;
    width: 60px;
}

.toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 15px 15px;
    box-sizing: border-box;
}

.toggle-btn-line {
    width: 2em;
    height: 0.15em;
    background: white;
}

.toggle-btn:focus {
    outline: none;
}