.drop-menu {
    position: absolute;
    top: 0px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
}

.drop-menu.open {
    transform: translateY(0);
    background-color: #0089a1;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    top: 60px;
    right: calc(0px + 20%);
    z-index: 150;
}

.drop-item {
    display: list-item;
    list-style: none;
    color: #ffffff;
    font-size: 1.25em;
    text-align: right;
    padding: 5px 10px;
}

#email {
    display: list-item;
    list-style: none;
    color: #ffffff9f;
    font-size: 1.25em;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 875px) {
    .drop-menu.open {
        right: 0px;
    }
}