.send-drawer {
    margin-left: 2em;
}

.container {
    width: 65%;
    margin-left: 2em;
}

.send-item {
    color:#5f1bff;
    font-size: 1.5em;
}

.back-button {
    margin: 10px auto;
    min-width: 25%;
    height: 25px;
    color: white;
    background-color: #5f1bff;
    border: none;
    border-radius: 7px;
    padding: 0px 5px;
    cursor: pointer;
}

.send-select {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #5f1bff;;
    border-bottom: 2px solid #5f1bff;
    border-left: 2px solid #5f1bff;
    color: #5f1bff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.send-amount,
.send-address {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 96%;
    height: 35px;
    border: 1px solid #5f1bff;;
    border-bottom: 2px solid #5f1bff;
    border-left: 2px solid #5f1bff;
    color: #5f1bff;
    border-radius: 5px;
    padding-left: 5px;
}

.send-btn {
    margin: 10px auto;
    width: 100%;
    height: 35px;
    color: white;
    background-color: #5f1bff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.back-button:hover,
.send-btn:hover {
    background: #5f1bff8f
}