.send-drawer {
    background-color: white;
    margin-left: 2em;
}

.form-item {
    color:#5f1bff;
    font-size: 1.5em;
}

.back-button {
    background:none!important;
    color:#5f1bff;
    font-size: 1.25em;
    border:none; 
    padding:0!important;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 1em;
}