.send-drawer {
    margin-left: 2em;
}

.container {
    width: 65%;
    margin-left: 2em;
}

.send-item {
    color:#ffffff;
    font-size: 1.5em;
}

.back-button {
    margin: 10px auto;
    width: 75px;
    height: 25px;
    color: #00a9c7;
    background-color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 0px 5px;
    cursor: pointer;
}

.send-select {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    height: 40px;
    border: none;
    color: #00a9c7;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.send-amount,
.send-address {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    height: 35px;
    border: none;
    color: #00a9c7;
    border-radius: 5px;
    padding-left: 5px;
}

.send-btn {
    margin: 10px auto;
    width: 50%;
    height: 35px;
    color: #00a9c7;
    background-color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.back-button:hover,
.send-btn:hover {
    color: #ffffff;
    background: #6cb9c7;
}