.App {
    font-family: Palatino, sans-serif;
    min-width: 420px;
}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.App-content {
    margin-top: 80px;
}

.dollar-value {
    margin: 1rem 2rem;
}