.App {
    font-family: Palatino, sans-serif;
    min-width: 360px;
}

input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.App-content {
    margin-top: 80px;
}

.dollar-value {
    margin-left: 2rem;
}