.coin-list {
    width: 100%;
    padding: 0px;
    background: rgb(255, 255, 255);
}

.list-body {
    padding: 0px;
}

.crypto-container {
    border-top: 1px solid #00a9c79d;
    font-size: 18px;
    padding: 10px 2em;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorites-img {
    cursor: pointer;
    margin-right: 20px;
}

img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}
  
.favorites-name {
    text-align: left;
    margin-right: auto;
}
  
.favorites-price {
    text-align: right;
    float: right;
}