.coin-list {
    width: 100%;
    margin: none;
    border: none;
}

div#crypto-container {
    border-top: 1px solid #00a9c79d;
    height: 60px;
    padding-top: 30px;
}

.favorites-sym img {
    max-height: 30px;
    max-width: 30px;
    margin-right: 1em;
    border-radius: 50%;
    vertical-align: middle;
}
  
.favorites-sym {
    margin-left: 2em;
    width: 200px;
    float: left;
}
  
.favorites-price {
    margin-right: 2em;
    width: 100px;
    float: right;
    text-align: right;
}